<div class="center jumbotron">
  <h1><%= t "static_pages.welcome_to"%></h1>

  <h2>
  	<%= t "static_pages.home_p1a" %>
	<a href="http://www.railstutorial.org/">
	  <%= t "static_pages.ruby_on_rails_tutorial" %></a>
	  <%= t "static_pages.home_p1c" %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
	"http://rubyonrails.org/" %>
	