<footer class="footer">
  <small>
    <%= t "static_pages.the" %><a href="http://www.railstutorial.org/">
    <%= t "static_pages.ruby_on_rails_tutorial" %></a>
    <%= t "static_pages.by" %><a href="http://www.michaelhartl.com/"></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about"), about_path %></li>
      <li><%= link_to t("static_pages.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/">
      <%= t "static_pages.news" %></a>
    </ul>
  </nav>
</footer>
